/*---
import: ../README.md
---*/

@import '../index';

/* stylelint-disable */
.box-row { margin-bottom: 1rem; }

.box,
.box-first,
.box--large,
.box-nested,
.box-row {
  background-color: var(--blue-600);
  color: var(--white);
  font-size: var(--fontSize--tiny);
  min-height: 2em;
  overflow: hidden;
  padding: .75em 0;
  position: relative;
  text-align: center;
}

.box-first { background-color: var(--blue-700); }

.box-nested { background-color: var(--blue-800); }

.box--large { height: 5rem; }

.box-tall { padding: 200px 0; }
/* stylelint-enable */ 
